# Created by http://www.gitignore.io

### Symfony2 ###
# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
/web/bundles
/web/images
/web/fonts
/web/js
/web/css
/web/media

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

#netbeans
/nbproject

#bower
/web/vendor/*
/Docs/
/bin
/vendor/
