{% extends 'ItesACBackendBundle::layout.html.twig' %}
{% block encabezado %}Crear planta{% endblock %}
{% block cuerpo %}
<div class="col-xs-12 col-sm-6 col-md-6">
    {{ form(form) }}
</div>
<div class="record_actions" style="padding:25px;">
	<a href="{{ path('planta') }}" class="btn btn-default" role="button">
	    Back to the list
	</a>
</div>
{% endblock %}
{% block javascripts %}
     {{ parent() }}
     {% javascripts 
        '@ItesACBackendBundle/Resources/public/js/dependedSelect.js' %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}