{% extends '::base.html.twig' %}
{% block style %}
{{ parent() }}
<style>
.maincontent{
        background-color:#fff;
	border-radius:5px;}
</style>
{% endblock %}
{% block body -%}
<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">{% block encabezado %}{% endblock %}</div>
            <!-- Table -->
            <div class="panel-body">
                {% block cuerpo %}{% endblock %}
            </div>
        </div>
</div>
{% endblock %}