{% extends '::base.html.twig' %}
{% block style %}
{{ parent() }}
<style>
.maincontent{
        background-color:#fff;
	border-radius:5px;}
</style>
{% endblock %}
{% block body -%}
    <div class="row col-xs-12 col-sm-7 col-md-6" style="margin-top:15px;margin-left: 15px;">
            <div class="maincontent">
            {{ knp_menu_render('ItesACBackendBundle:Builder:backendMenu', { 'currentClass': 'active','template': 'ItesACBackendBundle::knp_menu.html.twig' }) }}
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{% block encabezado %}{% endblock %}</div>
                <!-- Table -->
                <div class="panel-body">
                    {% block cuerpo %}{% endblock %}
                </div>
            </div>
    </div>
{% endblock %}