{% extends 'ItesACBackendBundle::layout.html.twig' %}
{% block encabezado %}Crear un arduino{% endblock %}
{% block cuerpo %}
<div class="col-xs-12 col-sm-6 col-md-6">
    {{ form(form) }}
</div>
<div class="record_actions" style="padding:25px;">
	<a href="{{ path('arduino') }}" class="btn btn-default" role="button">
	    Back to the list
	</a>
</div>
{% endblock %}
